<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<body>
    <div class="col">
        <%- include ('../partials/message') %>
        
    </div>
    <div class="contaner">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Events in Boulder</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Find fun things to do during a night out in Boulder</p>
                </div>
            </div>
        </header>
        <h4 class="container px-4 px-lg-5 mt-5">Filter Events</h3>
        <div class="container px-4 px-lg-5">
                <tr>
                    <label style="margin-right: 20px"> <input name="Bingo" type="checkbox" id="bingo" checked>   Bingo    </label>
                    <label style="margin-right: 20px"> <input name="Trivia" type="checkbox" id="trivia" checked>   Trivia    </label>
                    <label style="margin-right: 20px"> <input name="Game Night" type="checkbox" id="game-night" checked>   Game Night    </label>
                    <label style="margin-right: 20px"> <input name="Live Music"type="checkbox" id="live-music" checked>   Live Music    </label>
                    <label style="margin-right: 20px"> <input name="Misc Events"type="checkbox" id="other-events" checked>   Other Events    </label>
                </tr> 
            <br>
            <button class="btn btn-outline-dark mt-auto" onclick="filterEvents()"> Filter </button>
        </div>
        <div class="container px-4 px-lg-5 mt-5" id="events-list">
            <% const date = new Date(); %>
            <% let date_str = ""; %>
            <% let day = date.getDate(); %>
            <% let month = date.getMonth() + 1; %>
            <% let weekday = date.getDay(); %>
            <% let wday_str = ""; %>

            <% console.log(date); %>
            <% console.log(day); %>
            <% console.log(month); %>
            <% console.log(weekday); %>

            <% if (weekday == 0) { %>
                <% date_str = "Sunday, "; %>
                <% wday_str = "Sunday"; %>
            <% } else if(weekday == 1) { %>
                <% date_str = "Monday, "; %>
                <% wday_str = "Monday"; %>
            <% } else if(weekday == 2) { %>
                <% date_str = "Tuesday, "; %>
                <% wday_str = "Tuesday"; %>
            <% } else if(weekday == 3) { %>
                <% date_str = "Wednesday, "; %>
                <% wday_str = "Wednesday"; %>
            <% } else if(weekday == 4) { %>
                <% date_str = "Thursday, "; %>
                <% wday_str = "Thursday"; %>
            <% } else if(weekday == 5) { %>
                <% date_str = "Friday, "; %>
                <% wday_str = "Friday"; %>
            <% } else if(weekday == 6) { %>
                <% date_str = "Saturday, "; %>
                <% wday_str = "Saturday"; %>
            <% } else { %>
                <% date_str = "ERROR, "; %>
            <% } %>
            
            <% if(month == 1) { %>
                <% date_str = date_str.concat("January "); %>
            <% } else if (month == 2) { %>
                date_str = date_str.concat("February ");
            <% } else if (month == 3) { %>
                <% date_str = date_str.concat("March "); %>
            <% } else if (month == 4) { %>
                <% date_str = date_str.concat("April "); %>
            <% } else if (month == 5) { %>
                <% date_str = date_str.concat("May "); %>
            <% } else if (month == 6) { %>
                <% date_str = date_str.concat("June "); %>
            <% } else if (month == 7) { %>
                <% date_str = date_str.concat("July "); %>
            <% } else if (month == 8) { %>
                <% date_str = date_str.concat("August "); %>
            <% } else if (month == 9) { %>
                <% date_str = date_str.concat("September "); %>
            <% } else if (month == 10) { %>
                <% date_str = date_str.concat("October "); %>
            <% } else if (month == 11) { %>
                <% date_str = date_str.concat("November "); %>
            <% } else if (month == 12) { %>
                <% date_str = date_str.concat("December "); %>
            <% } else { %>
                <% date_str = date_str.concat("ERROR "); %>
            <% } %>

            <% date_str = date_str.concat(day.toString()); %>

            <% console.log(date); %>
            <% console.log(day); %>
            <% console.log(month); %>
            <% console.log(date_str); %>
            <h2> <%= date_str %></h2>
            
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% if (data) { %>
                    <% data[0].forEach(function(event){ %>
                        <% if(event.day.includes(wday_str)) { %>
                            <div class="col mb-5" name="single-event">
                                <div class="card h-100">
                                    <img src=<%=event.image_url%> class="card-img-top" alt="Restaurant Image" height= 150>
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h5 class="card-title"><%=event.event_title%> at <%=event.restaurant_name%></h5>
                                            <p class="card-text"><%=wday_str%> at <%=event.time%></h4> 
                                        </div>
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/restaurant/<%= event.restaurant_id %>">Learn More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>  
            </div>

            <% const new_date = new Date(); %>
            <% new_date.setDate(day + 1) %>
            <% day = new_date.getDate(); %>
            <% month = new_date.getMonth() + 1; %>
            <% weekday = new_date.getDay(); %>

            <% if (weekday == 0) { %>
                <% date_str = "Sunday, "; %>
                <% wday_str = "Sunday"; %>
            <% } else if(weekday == 1) { %>
                <% date_str = "Monday, "; %>
                <% wday_str = "Monday"; %>
            <% } else if(weekday == 2) { %>
                <% date_str = "Tuesday, "; %>
                <% wday_str = "Tuesday"; %>
            <% } else if(weekday == 3) { %>
                <% date_str = "Wednesday, "; %>
                <% wday_str = "Wednesday"; %>
            <% } else if(weekday == 4) { %>
                <% date_str = "Thursday, "; %>
                <% wday_str = "Thursday"; %>
            <% } else if(weekday == 5) { %>
                <% date_str = "Friday, "; %>
                <% wday_str = "Friday"; %>
            <% } else if(weekday == 6) { %>
                <% date_str = "Saturday, "; %>
                <% wday_str = "Saturday"; %>
            <% } else { %>
                <% date_str = "ERROR, "; %>
            <% } %>
            
            <% if(month == 1) { %>
                <% date_str = date_str.concat("January "); %>
            <% } else if (month == 2) { %>
                date_str = date_str.concat("February ");
            <% } else if (month == 3) { %>
                <% date_str = date_str.concat("March "); %>
            <% } else if (month == 4) { %>
                <% date_str = date_str.concat("April "); %>
            <% } else if (month == 5) { %>
                <% date_str = date_str.concat("May "); %>
            <% } else if (month == 6) { %>
                <% date_str = date_str.concat("June "); %>
            <% } else if (month == 7) { %>
                <% date_str = date_str.concat("July "); %>
            <% } else if (month == 8) { %>
                <% date_str = date_str.concat("August "); %>
            <% } else if (month == 9) { %>
                <% date_str = date_str.concat("September "); %>
            <% } else if (month == 10) { %>
                <% date_str = date_str.concat("October "); %>
            <% } else if (month == 11) { %>
                <% date_str = date_str.concat("November "); %>
            <% } else if (month == 12) { %>
                <% date_str = date_str.concat("December "); %>
            <% } else { %>
                <% date_str = date_str.concat("ERROR "); %>
            <% } %>

            <% date_str = date_str.concat(day.toString()); %>

            <h2> <%=date_str%> </h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% if (data) { %>
                    <% data[0].forEach(function(event){ %>
                        <% if(event.day.includes('Tuesday')) { %>
                            <div class="col mb-5" name="single-event">
                                <div class="card h-100">
                                    <img src=<%=event.image_url%> class="card-img-top" alt="Restaurant Image" height=150>
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h5 class="card-title"><%=event.event_title%> at <%=event.restaurant_name%></h5>
                                            <p class="card-text"><%=wday_str%> at <%=event.time%></h4> 
                                        </div>
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/restaurant/<%= event.restaurant_id %>">Learn More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>  
            </div>
            
        </div>
    </div>
    <script>
        function filterEvents(){
            var trivia = document.querySelector('#trivia');
            var bingo = document.querySelector('#bingo');
            var gamenight = document.querySelector('#game-night');
            var music = document.querySelector('#live-music');
            var other = document.querySelector('#other-events');
            
            var events = document.getElementsByName("single-event");
            for (i=0; i < events.length; i++){
                var title = events[i].getElementsByClassName("card-title");
                var type = title[0].textContent.toUpperCase();
                if (type.includes("TRIVIA") & trivia.checked == true){
                    events[i].style.display = "";
                } else if (type.includes("BINGO") & bingo.checked== true) {
                    events[i].style.display = "";
                } else if (type.includes("GAME") & gamenight.checked == true) {
                    events[i].style.display = "";
                } else if (type.includes("MUSIC") & music.checked == true) {
                    events[i].style.display = "";
                } else if (other.checked == true & !type.includes("TRIVIA") & !type.includes("BINGO") & !type.includes("GAME") & !type.includes("MUSIC")){
                    events[i].style.display = "";
                } else {
                    events[i].style.display = "none";
                }
            }
        }
    </script>
</body>

<%- include ('../partials/footer') %>