<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="col">
        <%- include ('../partials/message') %>
    </div>
    <div class="container">
        <table>
            <tr>
                <td><img src="<%- db_data.image_url %>" alt="<%- db_data.image_url %>"/></td>
            </tr>
        </table>
    </div>
</main>

<%- include ('../partials/footer') %>