<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <br>
        <div id="reviews" class="review-section">
            <div class="row">
                
                <div class="col-md-6">

                    <table class="stars-counters">
                        <tbody>
                          <!--                    Restaurant Images          -->
                          <img src="<%= restaurant_data.image_url %>" alt="<%= restaurant_data.image_url %>" class="img-fluid" style="border-radius:6px;">
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6" style="outline-style: solid; background-color:#5a6673; border-radius:6px; color:#fffefc">
                <!-- get data for yelp -->
                <br>
                    <!--    Resturant Name              -->
                  <h1> Resturant Name </h1>
                  <hr size="1" style="height:2px; background-color:white;" width="max-width" float="[left, right center]">

                    <!-- show address -->
                  <h4> Address </h4>
                  
                  <hr size="1" style="height:2px; background-color:white;" width="400rem" float="[left, right center]">

                    <!-- show YELP rating -->
                  <h6> Yelp Rating: 4.4/5 </h6>
                  
                    <!-- show our rating -->
                  <h6> CC Rating: 4.5/5 </h6>
                  <hr size="1" style="height:2px; background-color:white;" width="400rem" float="[left, right center]">
                   <!-- show phone number -->
                  <h6> (123) 456-7890 </h6>
                    <br>
                    <!-- show operating hours -->
                  <h6> Sunday - Wednesday: 5 - 9 PM </h6>
                  <h6> Thursday - Saturday: 5 - 11 PM </h6>
                    <!-- show reviews -->
                  
                </div>
            </div>
        </div>
        <br>
        <hr size="1" style="height:2px; background-color:grey;" width="max-width" float="[left, right center]">

        <div class="review-list" style="flex: auto; width: auto; height: auto; display: inline-block;">
            <h3> Customer Reviews: </h3>
            <br>
            <ul style="list-style-type: none;">
                <% restaurant_reviews.forEach(function(item) { %>
                <li>
                    <div class="d-flex">
                        
                        <div class="right" style="font-size: 16px; margin: 0; display: flex;">
                                
                            <h4>
                                <span class="text-body-2" style="text-align: center; height: 2rem; width: 5rem; display: flex; align-items: center; background-color:#5a6673; border-radius:6px; margin-left: 5px; color: #ffbf00; ">
                                    &nbsp;
                                     <%= item.rating_number %>/5 
                                </span>
                            </h4>
                            <!-- <p> 
                                <span class="text-body-2" style="display: flex; align-items: center; margin-left: 10px;">
                                    
                                    <%= item.uploaded %>
                                </span> 
                             <p> -->
                            <div class="" style="font-size: 17px; margin-left: 10px; margin-top: 4px;">
                                <p>
                                    <%= item.review %>
                                </p>
                            </div>
                        </div>
                        
                        
                    </div>
                </li>
                <!-- <hr size="1" style="height:0.5px; background-color:grey;" width="max-width" float="[left, right center]"> -->
                <%  })   %>
            </ul>
        </div>
        <hr size="1" style="height:2px; background-color:grey;" width="max-width" float="[left, right center]">

        <form action="/ratings/<%= restaurant_data.restaurant_id %>" method="POST">
            <div class="mb-3" style="width:15rem;">
                <label for="event-rating" class="review-rating"> <h6> Give a rating: (0.0 - 5.0) </h6></label>
                <input type="text" class="form-control" id="event-rating" >
              </div>
            <div class="mb-3">
                <label for="event-rating" class="review-rating"> <h6> Leave a Review: </h6></label>
                <input type="hidden" name="event_review" value="event-review" />
                <textarea id="event-review" class="form-control" aria-label="With textarea"></textarea>
            </div>
            <button id="submit_button" class="btn btn-secondary" type="submit">Post </button>
        </form>
        <br>
        <br>
    </div>
      </body>
    
</main>

<%- include ('../partials/footer') %>